@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:url('/download.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width:6px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: #4d4b4b;
  border-radius: 10px;
}